@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Gudea", sans-serif; */
    font-family: "Teko",sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background: url(../assets/ahmad_1.png) no-repeat;
    background-size: contain;
    background-color: #d2d2d3;
}


/* Menu style */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
}

.logoimg{
    width: 80%;
    /* position: relative; */
    transform: perspective(1000px) rotateY(180deg);
    mix-blend-mode: color-burn;
}

.logoText{
    font-size: 20px;
    margin: 0;
    color: #FFFFFF;
    font-family: "Black Ops One", cursive;
    /* text-shadow: 1px 1px 2px white; */
}

.slogan{
    font-size: 10px;
    font-weight: 500;
    margin: 0;
}

/* Hamburger menu */

.container {
max-width: 1050px;
width: 90%;
margin: auto;
}

.navbar {
width: 100%;
box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
display: flex;
justify-content: space-between;
align-items: center;
height: 62px;
z-index: 1;
}

.navbar .menu-items {
display: flex;

}

.navbar .nav-container li {
list-style: none;
}

.navbar .nav-container a {
text-decoration: none;
color: #FFFFFF;
font-weight: 500;
font-size: 1.2rem;
padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
display: block;
position: relative;
height: 60px;
}

.nav-container .checkbox {
position: absolute;
display: block;
height: 32px;
width: 32px;
top: 20px;
left: 20px;
z-index: 5;
opacity: 0;
cursor: pointer;
}

.nav-container .hamburger-lines {
display: block;
height: 26px;
width: 32px;
position: absolute;
top: 17px;
left: 20px;
z-index: 2;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.nav-container .hamburger-lines .line {
display: block;
height: 4px;
width: 100%;
border-radius: 10px;
background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
transform-origin: 0% 0%;
transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
transform-origin: 0% 100%;
transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
padding-top: 120px;
/* box-shadow: inset 0 0 2000px black; */
background-color: #0e2431;
opacity: 97%;
height: 100vh;
width: 100%;
transform: translate(-150%);
display: flex;
flex-direction: column;
margin-left: -40px;
transition: transform 0.5s ease-in-out;
text-align: center;

}

.navbar .menu-items li {
margin-bottom: 1.2rem;
font-size: 1.5rem;
font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
transform: translateX(0);

}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
transform: rotate(45deg);
background-color: #FFFFFF;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
transform: rotate(-45deg);
background-color: #FFFFFF;

}

.nav-container input[type="checkbox"]:checked ~ .logo{
display: none;
}
  
.booking{
    position: relative;
    top: 25%;
}
.red_text{
    color: #da000d;
    font-size: 35px;
    margin: 0 15px;
    line-height: 90%;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px black;
}


.text{
    color: white;
    font-size: 35px;
    margin: 0 15px;
    text-shadow: 1px 1px 2px black;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: #da000d;
    margin: 10px 15px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}
.info, .classes{
    width: 100%;
    height: 400px;
    background-color: #d2d2d3;
    margin: 0;
}
.whyBox{
    position: relative;
    width: 100%;
    height: 400px;
}

.whyBox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/Ahmad-larg.jpeg) no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    z-index: -1;
}

h2{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    color: #da000d;
    margin: 0 10px;
    padding: 10px;
}
.info_text{
    font-size: 18px;
    margin: 10px;
    padding: 0 10px;
}

.intro{
    position: relative;
    width: 100%;
    height: 400px;
}

.intro h2, .classes h2, .whyBox h2{
    position: relative;
    top: 10%;
}

.intro p, .classes p, .whyBox ol{
    position: relative;
    top: 15%;
}

.intro button, .classes button{
    position: relative;
    top: 20%;

}
.intro::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/Ahmad_2_small.png) no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    z-index: -1;
}


.test{
    text-shadow: 0.2px 0.5px 2px white;
}

li{
    padding: 0 0 0 20px;
    color: white;
    font-size: 15px;
    margin: 0 10px;
    text-shadow: 1px 1px 2px black;
    list-style-type: none;
}

/* .contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */

/* input, textarea{
    width: 80%;
    position: relative;
    left: 10px;

}

label{
    margin-left: 10px;
} */

.input-group{
    font-size: 1rem;
    position: relative;
    --primary: #da000d;
    display: flex;
    justify-content: center;
    margin: 10px;
    font-family: "Gudea", sans-serif;
}

.input{
    all: unset;
    color: black;
    padding: 1rem;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 350px;
    height: 20px;
}

.label{
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #d4d4d4;
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus, .input-big:focus{
    border: 1px solid
    var(--primary);
}

.input:is(:focus, :valid) ~ label, .input-big:is(:focus, :valid) ~ label{
    transform: translateY(-120%) scale(0.7);
    background-color: #FEFEFE;
    padding-inline: 0.3rem;
    color: var(--primary);
}

.input-group-big{
    font-size: 1rem;
    position: relative;
    --primary: #da000d;
    display: flex;
    justify-content: center;
    margin: 8px;
}

.input-big{
    all: unset;
    font-family: "Gudea", sans-serif;
    color: black;
    padding: 1rem;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 350px;
    height: 100px;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Footer style to match the desgin  */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: "Gudea", sans-serif;
    text-align: center;
}

.footer-text{
    color: #FFFFFF;
}

